<%- include('head') %> 
<body>
 <%- include('menu') %>
 <%- include('entete') %>
 <section class="profil">
 <img src="/img/default_man.png" alt="default" height="125">
 <% var tab = Object.values(profil)%>
 <p>Id : <%- tab[0] %></p>
 <p><%= __('Nom') %> : <%- tab[1] %></p>
 <p><%= __('Prenom') %> : <%- tab[2] %></p>
 <p><%= __('Courriel') %> : <%- tab[3] %></p>
 <p><%= __('Téléphone') %> : <%- tab[4] %></p>
 <a href="/adresse"><%= __('Retour') %></a></p>
 </section>
 <%- include('footer') %>
</body>
</html>